<div class="header">

    <div class="logo">
        <img style="width: 139px; height: 70px; transform-origin: 0 0;" src="..\..\assets\img\image10.png" alt="">
        <div style="width: 25px; height: 25px; background: #490303; border-radius: 9999px"></div>
        <div style="width: 25px; height: 25px; background: #7A2D19; border-radius: 9999px"></div>
    </div>

    <div style="width: 2px; height: 40px; position: relative; background: #EDD7D1; border-radius: 2px; margin-right: 42px; margin-left: 42px"></div>

    <div class="menu">
        <a href="" class="menutxt">Home</a>
        <a href="" class="menutxt">Rádio</a>
        <a href="" class="menutxt">Sobre Nós</a>
        <a href="" class="menutxt">Contato</a>
    </div>

    <div class="icons">
        <i class="fa fa-shopping-cart" style="font-size: 22px; color: #B16653;" aria-hidden="true"></i>
        <i class="fa fa-user" style="font-size: 22px; color: #B16653;" aria-hidden="true"></i>
    </div>
</div>
<link href='https://fonts.googleapis.com/css?family=DM Sans' rel='stylesheet'>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">