<div class="catalog">
    <div class="box">
        <img class="prod" src="..\..\assets\img\drama.png" alt="">
        <div class="info">
            <p class="infotxt">Drama - Maria Bethânia</p>
            <p class="infotxt"> a partir de R$40</p>
        </div>
    </div>

    <div class="box">
        <img class="prod" src="..\..\assets\img\amme.jpg" alt="">
        <div class="info">
            <p class="infotxt">Alzira Espíndola - Amme</p>
            <p class="infotxt"> a partir de R$250</p>
        </div>
    </div>

    <div class="box">
        <img class="prod" src="..\..\assets\img\homogenic.jpg" alt="">
        <div class="info">
            <p class="infotxt">Homogenic - Björk</p>
            <p class="infotxt"> a partir de R$190</p>
        </div>
    </div>

    <div class="box">
        <img class="prod" src="..\..\assets\img\india.jpg" alt="">
        <div class="info">
            <p class="infotxt">India - Gal Costa</p>
            <p class="infotxt"> a partir de R$240</p>
        </div>
    </div>
</div>
